.cont{
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    grid-template-rows: 33.3% 33.3% 33.3% ;
    width: 1250px ;
    height: 750px ;
    row-gap: 10px;
    column-gap: 10px;


}
@media screen and (min-width: 480px) and (max-width: 768px)
{
    .cont{
    grid-template-columns: 50% 50%;
    grid-template-rows : auto;
    width: 800px;
    
    }
}

    @media screen and (max-width: 479px) 
{
    .cont{
        grid-template-columns: 1fr ;
        grid-template-rows : auto;
    
}